body{ background-color: silver; } 
button{ background-color: yellow;
 font-size: medium; border-radius: 30%; }


  body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            margin: 0;
            padding: 0;
        }
        header {
            background-color: #2c3e50;
            color: white;
            padding: 30px;
            text-align: center;
        }
        .container {
            max-width: 900px;
            margin: auto;
            padding: 20px;
        }
        .section {
            background-color: white;
            margin-bottom: 30px;
            padding: 20px;
            border-radius: 8px;
        }
        .section img {
            width: 100%;
            max-height: 400px;
            object-fit: cover;
            border-radius: 8px;
            margin-top: 15px;
        }
        h2 {
            color: #2c3e50;
        }
        footer {
            background-color: #2c3e50;
            color: white;
            text-align: center;
            padding: 15px;
        }